# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# Flask instance folder
instance/

# Flask config file
*.env

# Virtual environment
.venv/
ENV/
env/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.tar.gz

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log